<div class="header">
    <h1>Pathology Report</h1>
    <div class="headerBtnContainer">
        <button class="btn btn-dark headerBtn">Login</button>
        <button class="btn btn-dark headerBtn">Sign Up</button>
    </div>
</div>
<div class="bodyContainer">
    <div class="leftContainer">
        <h3>Sample Report</h3>
    </div>
    <div class="rightContainer">
        <div class="workingFlowContainer">
            <h2>Working Flow</h2>
        </div>
        <div class="createReportContainer">
            <button class="createReportButton">Create new Report</button>
        </div>
        <div class="templateContainer">
          <div class="controlContainer">
            <div class="templateControlContainer">
              <i class="fas fa-chevron-left leftController"></i>  
              <i class="fas fa-chevron-right rightController"></i>
            </div>
          </div>
          
            <div class="templateImageContainer">
              <img class="img-thumbnail mySlides"style="height: 200px ; width: 100%;"src="https://images.unsplash.com/photo-1610508497089-2e952b6a6009?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="carousel">            
            </div>
            
        </div>
    </div>
</div>
<script>
//  carousel javascript
</script>